{% extends 'base.html' %}
{% load static %}

{% block body %}
    <br>
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <h2>Heróis favoritos de {{ user }}</h2>
        <a href="{% url 'hero_listing' %}">Voltar à página principal.</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for hero in object_list %}
                    <tr>
                        <td><a href="{% url 'hero_update' hero.id %}">{{ hero.name }}</a></td>
                        <td>{{ hero.description }}</td>
                        {% if hero.picture %}
                            <td><img src="{{ hero.picture.url }}" width="100%" alt="Imagem de {{ hero.name }}"></img></td>
                        {% else %}
                            <td><img src="{% static 'img/img-not-available.png' %}" width="100%" alt="Imagem de {{ hero.name }} não disponível"></img></td>
                        {% endif %}
                        <td>
                            <form action="{% url 'remove_favorite'%}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="hero_id" value="{{ hero.id }}">
                                <input type="submit" class="btn btn-danger" value="Remover" onclick="return confirmaRemocao()">
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <p>Nenhum herói favoritado ainda. <i>E agora, quem poderá nos defender?</i></p>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock body %}

{% block scripts %}
    {{ block.super }}
    <script>
        function confirmaRemocao() {
            var resposta = confirm("Tem certeza de que quer remover este herói dos favoritos?");
            if (resposta)
                return true;
            else
                return false;
        }
    </script>
{% endblock scripts %}