{% extends 'base.html' %}
{% load static %}

{% block body %}
    <br>
    <div class="container">
        <h2>Lista de heróis</h2>
        <p>Clique em um nome para atualizar um registro</p>
        <form action="{% url 'hero_search' %}" method="GET" id="search-form">
            <div class="form-row">
                <div class="col-auto">
                    <input type="text" class="form-control" required name="search_term" placeholder="Busca por nome">
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-primary" value="Pesquisar">
                </div>
            </div>
        </form>
        {% if origin_view == 'search' %}
            <p>Resultado da busca por "{{ search_term }}":</p>
        {% endif %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for hero in object_list %}
                    <tr>
                        <td><a href="{% url 'hero_update' hero.id %}">{{ hero.name }}</a></td>
                        <td>{{ hero.description }}</td>
                        {% if hero.picture %}
                            <td><img src="{{ hero.picture.url }}" width="100%" alt="Imagem de {{ hero.name }}"></img></td>
                        {% else %}
                            <td><img src="{% static 'img/img-not-available.png' %}" width="100%" alt="Imagem de {{ hero.name }} não disponível"></img></td>
                        {% endif %}
                        <td>
                            <form action="{% url 'hero_delete' hero.id %}" class="options" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Apagar" onclick="return confirmaApagamento()">
                            </form>
                            <form action="{% url 'add_favorite' %}" method="POST" class="options">
                                {% csrf_token %}
                                <input type="hidden" name="hero_id" value="{{ hero.id }}">
                                <input type="submit" class="btn btn-primary" value="Adicionar aos favoritos">
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <p>Nenhum herói cadastrado ainda. <i>E agora, quem poderá nos defender?</i></p>
                        <a href="{% url 'hero_listing' %}">Voltar à página principal</a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock body %}

{% block scripts %}
    {{ block.super }}
    <script>
        function confirmaApagamento() {
            var resposta = confirm("Tem certeza de que quer apagar este registro?");
            if (resposta)
                return true;
            else
                return false;
        }
    </script>
{% endblock scripts %}