{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <br>
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <h3>Login</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Entrar">
        </form>
        <a href="{% url 'hero_listing' %}">Voltar à página principal</a>
    </div>
{% endblock body %}